.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: white;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px; 
}
.header-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px; 
}

.text{
    color: black;
    font-size: 48px;
    font-weight: 700;
}

.input{
    display: flex;
    align-items: center;
    margin-left: 50%;
    width: 480px;
    height: 80px;
    background-color: aqua;
    border-radius: 6px;
}
.img{
    height: 20px;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    color: cornsilk;
    background-color: #0101ff;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.logged-in-text {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
.logged-in{
    width: 80vh;
    height: 30vh;
}