.bkg{
  background-color: black;
}
.searchbar{
background-color: pink;
padding: 10px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
margin-left: 20px;
}
.SchB{
  background-color: purple;
  border-top-right-radius: 20px;
border-bottom-right-radius: 20px;

}